.shop {
    padding-top: 2.875rem;
    padding-bottom: 5.3125rem;
    color: $text-dark;

    &__container {
        display: flex;
        gap: 3.125rem;
    }

    &__sidebar {
        padding-top: 1.125rem;
        max-width: 19.375rem;
        background-color: $grey;
        font-weight: 400;
        font-size: 15px;
        line-height: 40px;
        display: flex;
        flex-direction: column;
        max-height: 77.75rem;

        img {
            width: 100%;
        }
    }

    &__sidebar-section {
        display: flex;
        flex-direction: column;
        gap: .4375rem;
        padding: 0rem 1.125rem 0rem 1.5rem;

        article {
            margin-left: .625rem;
            display: flex;
            justify-content: space-between;
            transition: all 0.3s ease;

            &:hover {
                cursor: pointer;
                color: $green;
                font-weight: 700;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1rem;
        color: #3D3D3D;
    }

    &__categories {
        margin-bottom: 2.25rem;
    }

    &__price {
        margin-bottom: 2.875rem;
        padding: 0rem 1.125rem 0rem 1.5rem;

        h3 {
            margin-bottom: 1.25rem;
        }
    }

    &__size {
        padding: 0rem 1.125rem 0rem 1.5rem;
        margin-bottom: 1.25rem;
    }

    &__slider {
        position: relative;
        background-color: rgba(70, 163, 88, 0.2);
        border-radius: .3125rem;
        height: .3125rem;
        margin-left: .625rem;
    }

    &__progress {
        height: 5px;
        background-color: #46A358;
        border-radius: .3125rem;
        position: absolute;
        left: 25%;
        right: 25%;
    }

    &__inputs {
        position: relative;
        margin-left: .625rem;
        margin-bottom: .5rem;

        input {
            position: absolute;
            top: -0.75rem;
            height: .3125rem;
            width: 100%;
            background: none;
            appearance: none;
            pointer-events: none;
        }

        input[type='range']::-webkit-slider-thumb {
            height: 17px;
            width: 17px;
            border-radius: 50%;
            appearance: none;
            background: $green;
            pointer-events: auto;
        }
    }

    &__price-display {
        display: flex;
        gap: 5px;
        align-items: center;
        font-weight: 400;
        font-size: .9375rem;
        line-height: 1rem;
        color: $green;
        margin-left: 10px;

        .divider {
            display: block;
            width: .625rem;
            height: 2px;
            background-color: $green;
        }

        span {
            &:first-child {
                color: $text-dark;
                margin-right: .3125rem;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.9375rem;
    }

    &__filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__filter {
        display: flex;
        gap: 2.3125rem;
    }

    &__filter-item {
        font-weight: 400;
        font-size: .9375rem;
        line-height: 1.875rem;

        &:hover {
            cursor: pointer;
        }

        &.active {
            color: $green;
            font-weight: 700;
            border-bottom: 2px solid $green;
        }
    }

    &__sort {
        display: flex;
        align-items: flex-start;
        gap: 7.5rem;
        width: 12.25rem;
        font-weight: 400;
        font-size: .9375rem;
        line-height: 1rem;
        position: relative;

        img {
            width: 1rem;
            transition: transform 0.3s ease;
        }

        &-list {
            z-index: 2;
            display: flex;
            position: absolute;
            left: 55px;
            flex-direction: column;
            gap: .625rem;
            height: 1.25rem;
            overflow-y: hidden;
            transition: color 0.3s ease;

            &:hover {
                height: 6.5625rem;
            }

            li {
                border-bottom: 1px solid #fff;
                transition: all 0.3s ease;

                &:hover {
                    cursor: pointer;
                    color: $green;
                    border-bottom: 1px solid $green;
                    font-weight: 700;
                }

                &.active {
                    color: $green;
                    border-bottom: 1px solid $green;
                    font-weight: 700;
                }
            }
        }
    }

    &__items-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 258px);
        column-gap: 33px;
        row-gap: 4.375rem;
    }

    &__item {
        position: relative;

        img {
            width: 100%;
            height: 18.75rem;
            margin-bottom: .75rem;
        }

        &:hover {
            cursor: pointer;
            .shop__svgs {
                display: flex;
            }
        }
    }

    &__svgs {
        display: none;
        gap: .625rem;
        position: absolute;
        bottom: 65px;
        left: 50%;
        transform: translateX(-50%);

        svg {
            background-color: #fff;
            width: 2.25rem;
            height: 2.25rem;
            padding: 8px;
            transition: all 0.3s ease;

            &:hover {
                cursor: pointer;
                path{
                    fill: $green;
                }
            }
        }
    }

    &__item-name {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: .375rem;
    }

    &__item-price {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1rem;
        color: $green;
    }

    &__switcher {
        justify-self: end;
        align-self: end;
        grid-column-start: 3;
        display: flex;
        gap: .625rem;
    }

    &__switch-page {
        border: 1px solid #E5E5E5;
        border-radius: .25rem;
        padding: .5625rem .75rem;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1rem;
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: $green;
            color: #fff;
        }

        &.active {
            background-color: $green;
            color: #fff;
        }
    }
}

