@import url(d:\IT\Portfolio-projects\plant-shop\src\styles\style-services\normalize.min.css);
@import url(d:\IT\Portfolio-projects\plant-shop\src\styles\style-services\reset.css);
@import url(d:\IT\Portfolio-projects\plant-shop\src\styles\style-services\fonts.css);
.fz_14px-reg {
  font-weight: 400;
  font-size: .875rem;
}

.fz_14-med {
  font-weight: 500;
  font-size: .875rem;
}

.fz_16px-reg {
  font-weight: 400;
  font-size: 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'CeraPro';
  overflow-x: hidden;
}

.container {
  max-width: 77.5625rem;
  padding: 0 .9375rem;
  margin: 0 auto;
}

.bg_green {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: .625rem 1.625rem;
  background: #46A358;
  border-radius: 6px;
  border: 2px solid #46A358;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bg_green:hover {
  cursor: pointer;
  border-color: #000;
}

.header {
  padding-top: 1.625rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.header__logo {
  max-width: 9.375rem;
}

.header__menu {
  position: relative;
  margin-top: 25px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

.header__item {
  height: 2.8125rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.header__item:nth-child(3):hover a {
  letter-spacing: -0.4px;
}

.header__item:hover {
  cursor: pointer;
  border-bottom: 3px solid #46A358;
}

.header__item:hover a {
  font-weight: 700;
}

.header__link {
  display: block;
  height: 100%;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #727272;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  width: 1.25rem;
  height: 1.25rem;
}

.header__search:hover {
  cursor: pointer;
}

.header__cart {
  position: relative;
}

.header__cart img {
  width: 1.8125rem;
  height: 1.5rem;
}

.header__cart span {
  position: absolute;
  right: 4.5px;
  top: 2px;
  font-weight: 500;
  font-size: .625rem;
  line-height: .8125rem;
  color: #fff;
}

.header__cart:hover {
  cursor: pointer;
}

.header__login {
  padding: .4375rem 1.0625rem;
  border: 0.125rem solid #46A358;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .25rem;
  background: #46A358;
  border-radius: .375rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__login:hover {
  cursor: pointer;
  border-color: #3D3D3D;
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .125rem;
  position: relative;
  height: 2.8125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger__span {
  display: block;
  width: 1.25rem;
  height: .125rem;
  background-color: #3D3D3D;
}

.mobile {
  z-index: 2;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.3s ease;
  transition: transform 0.5s ease, opacity 0.3s ease, -webkit-transform 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 3.125rem;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #46A358;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.125rem;
}

.mobile__item {
  text-align: center;
}

.mobile__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25rem;
  color: #fff;
}

.mobile .close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 2.125rem;
  right: 1.125rem;
}

.mobile .close-btn span {
  display: block;
  width: 1.25rem;
  height: .125rem;
  background-color: #fff;
}

.mobile .close-btn span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile .close-btn span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -0.125rem;
}

.mobile .header__login {
  padding: .625rem 1.5625rem;
  border-color: #fff;
}

.mobile.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media (max-width: 768px) {
  .header__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .header__menu {
    display: none;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: end;
    margin-right: 1.25rem;
  }
}

@media (max-width: 426px) {
  .header .header__login {
    display: none;
  }
}

.slider {
  color: #3D3D3D;
  padding-top: .75rem;
}

.slider__container {
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
  overflow-x: hidden;
  position: relative;
}

.slider__wrapper {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.slider__slide {
  padding: 4.25rem 0rem 5.3125rem 2.5rem;
  width: 100%;
  background: url("../assets/slider/main-bg-min.png") center right/auto no-repeat;
}

.slider__subtitle {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1rem;
  margin-bottom: .4375rem;
}

.slider__title {
  font-weight: 900;
  font-size: 4.375rem;
  line-height: 4.375rem;
  text-transform: uppercase;
  max-width: 33.125rem;
  margin-bottom: .3125rem;
}

.slider__title span {
  color: #46A358;
}

.slider__text {
  max-width: 33.125rem;
  line-height: 24px;
  margin-bottom: 2.75rem;
}

.slider__dots {
  position: absolute;
  bottom: 1.0625rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
}

.slider__dot {
  display: block;
  border-radius: 50%;
  width: .5rem;
  height: .5rem;
  background: rgba(70, 163, 88, 0.3);
}

.slider__dot.active {
  background-color: #46A358;
}

.slider__dot:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .slider__title {
    font-size: 2.5rem;
    line-height: 3.125rem;
    max-width: 23.125rem;
  }
  .slider__text {
    max-width: 20rem;
  }
  .slider__slide {
    background-position: 110%,0;
  }
}

@media (max-width: 768px) {
  .slider__slide {
    background-position-x: right;
    background-position-y: bottom;
    background-size: 50%;
    padding-left: 1.875rem;
  }
}

@media (max-width: 426px) {
  .slider__subtitle {
    text-align: center;
  }
  .slider__title {
    text-align: center;
  }
  .slider__text {
    text-align: center;
    max-width: 16rem;
  }
  .slider__slide {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
}

.shop {
  padding-top: 2.875rem;
  color: #3D3D3D;
}

.shop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

.shop__sidebar {
  padding-top: 1.125rem;
  max-width: 19.375rem;
  background-color: #FBFBFB;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 77.75rem;
}

.shop__sidebar img {
  width: 100%;
}

.shop__sidebar-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .4375rem;
  padding: 0rem 1.125rem 0rem 1.5rem;
}

.shop__sidebar-section article {
  margin-left: .625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.shop__sidebar-section article:hover {
  cursor: pointer;
  color: #46A358;
  font-weight: 700;
}

.shop__sidebar-section article.active {
  color: #46A358;
  font-weight: 700;
}

.shop__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1rem;
  color: #3D3D3D;
}

.shop__categories {
  margin-bottom: 2.25rem;
}

.shop__price {
  margin-bottom: 2.875rem;
  padding: 0rem 1.125rem 0rem 1.5rem;
}

.shop__price h3 {
  margin-bottom: 1.25rem;
}

.shop__size {
  padding: 0rem 1.125rem 0rem 1.5rem;
  margin-bottom: 1.25rem;
}

.shop__slider {
  position: relative;
  background-color: rgba(70, 163, 88, 0.2);
  border-radius: .3125rem;
  height: .3125rem;
  margin-left: .625rem;
}

.shop__progress {
  height: 5px;
  background-color: #46A358;
  border-radius: .3125rem;
  position: absolute;
  left: 25%;
  right: 25%;
}

.shop__inputs {
  position: relative;
  margin-left: .625rem;
  margin-bottom: .5rem;
}

.shop__inputs input {
  position: absolute;
  top: -0.75rem;
  height: .3125rem;
  width: 100%;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  pointer-events: none;
}

.shop__inputs input[type='range']::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  -webkit-appearance: none;
          appearance: none;
  background: #46A358;
  pointer-events: auto;
}

.shop__price-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1rem;
  color: #46A358;
  margin-left: 10px;
}

.shop__price-display .divider {
  display: block;
  width: .625rem;
  height: 2px;
  background-color: #46A358;
}

.shop__price-display span:first-child {
  color: #3D3D3D;
  margin-right: .3125rem;
}

.shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.9375rem;
}

.shop__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.3125rem;
}

.shop__filter-item {
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1.875rem;
}

.shop__filter-item:hover {
  cursor: pointer;
}

.shop__filter-item.active {
  color: #46A358;
  font-weight: 700;
  border-bottom: 2px solid #46A358;
}

.shop__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 7.5rem;
  width: 12.25rem;
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1rem;
  position: relative;
}

.shop__sort img {
  width: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.shop__sort-list {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 3.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .625rem;
  height: 1.25rem;
  overflow-y: hidden;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.shop__sort-list:hover {
  height: 6.5625rem;
}

.shop__sort-list li {
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.shop__sort-list li:hover {
  cursor: pointer;
  color: #46A358;
  border-bottom: 1px solid #46A358;
  font-weight: 700;
}

.shop__sort-list li.active {
  color: #46A358;
  border-bottom: 1px solid #46A358;
  font-weight: 700;
}

.shop__items-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (258px)[3];
      grid-template-columns: repeat(3, 258px);
  -webkit-column-gap: 33px;
          column-gap: 33px;
  row-gap: 4.375rem;
}

.shop__item {
  position: relative;
  border-top: 2px solid white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.shop__item img {
  width: 100%;
  height: 18.75rem;
  margin-bottom: .75rem;
}

.shop__item:hover {
  cursor: pointer;
  border-top: 2px solid #46A358;
}

.shop__item:hover .shop__svgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__svgs {
  display: none;
  gap: .625rem;
  position: absolute;
  bottom: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.shop__svgs svg {
  background-color: #fff;
  width: 2.25rem;
  height: 2.25rem;
  padding: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.shop__svgs svg:hover {
  cursor: pointer;
}

.shop__svgs svg:hover path {
  fill: #46A358;
}

.shop__item-name {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: .375rem;
}

.shop__item-price {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1rem;
  color: #46A358;
}

.shop__switcher {
  justify-self: end;
  -ms-flex-item-align: end;
      align-self: end;
  -ms-grid-column: 3;
      grid-column-start: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .625rem;
}

.shop__switch-page {
  border: 1px solid #E5E5E5;
  border-radius: .25rem;
  padding: .5625rem .75rem;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.shop__switch-page:hover {
  cursor: pointer;
  background-color: #46A358;
  color: #fff;
}

.shop__switch-page.active {
  background-color: #46A358;
  color: #fff;
}

@media (max-width: 1110px) {
  .shop__items-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .shop__switcher {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

@media (max-width: 900px) {
  .shop__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop__sidebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 100%;
    max-height: 50px;
    overflow: hidden;
  }
  .shop__sidebar article {
    display: none;
  }
  .shop__sidebar.active {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .shop__sidebar.active article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .shop__sidebar img {
    display: none;
  }
  .shop__sidebar-section {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .shop__sidebar-section h3 {
    text-align: center;
  }
  .shop__items-wrapper {
    -ms-grid-columns: (258px)[2];
        grid-template-columns: repeat(2, 258px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 580px) {
  .shop__sidebar {
    display: none;
  }
  .shop__filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.125rem;
  }
  .shop__items-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .shop__item img {
    border-radius: 20px;
    height: auto;
  }
}

@media (max-width: 375px) {
  .shop__svgs {
    bottom: 4.6875rem;
  }
  .shop__svgs svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.care {
  color: #3D3D3D;
  padding-bottom: 8.625rem;
  padding-top: 5.3125rem;
}

.care__container {
  display: -ms-grid;
  display: grid;
  gap: 1.75rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.care__post {
  position: relative;
  padding: 2.3125rem 1.875rem 2.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 1.25rem;
  background: url("../assets/plant-care/rectangle-min.png") left bottom/auto no-repeat;
  background-color: #FBFBFB;
}

.care__image {
  position: absolute;
  top: -3.25rem;
  left: 0;
}

.care__title {
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: right;
  text-transform: uppercase;
  max-width: 9.375rem;
}

.care__description {
  max-width: 18.4375rem;
  line-height: 24px;
  text-align: right;
}

.care .bg_green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
}

@media (max-width: 1024px) {
  .care {
    padding-top: 100px;
  }
  .care__container {
    -ms-grid-columns: (600px)[1];
        grid-template-columns: repeat(1, 600px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 70px;
  }
  .care__image {
    left: -3.4375rem;
  }
}

@media (max-width: 769px) {
  .care__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 510px) {
  .care__post {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .care__title {
    text-align: center;
  }
  .care__description {
    text-align: center;
  }
  .care__image {
    display: none;
  }
}

.blog {
  color: #3D3D3D;
  padding-bottom: 6.25rem;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1rem;
  margin-bottom: .9375rem;
}

.blog__subtitle {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.5rem;
  color: #727272;
  margin-bottom: 2.1875rem;
}

.blog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.75rem;
}

.blog__post {
  width: 16.75rem;
  position: relative;
  padding: 12.6875rem .9375rem .9375rem .9375rem;
  background-color: #FBFBFB;
}

.blog__post > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.blog__post-date {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1rem;
  color: #46A358;
  margin-bottom: .25rem;
}

.blog__post-title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
  max-width: 12.8125rem;
  margin-bottom: .25rem;
}

.blog__post-text {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.375rem;
  color: #727272;
  margin-bottom: .5625rem;
}

.blog__post-read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .1875rem;
  text-decoration: none;
  color: #3D3D3D;
  padding: 0;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog__post-read svg {
  margin-top: 2px;
}

.blog__post-read svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog__post-read:hover {
  cursor: pointer;
  color: #46A358;
}

.blog__post-read:hover svg path {
  fill: #46A358;
}

.footer__container {
  background-color: #FBFBFB;
  padding: 0rem;
}

.footer__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.75rem;
  padding: 1.5625rem;
}

.footer__post-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6875rem;
}

.footer__post {
  padding: 0rem 2.125rem 0rem 0rem;
  max-width: 242px;
}

.footer__post:not(:last-child) {
  border-right: 1px solid rgba(70, 163, 88, 0.1);
}

.footer__post img {
  height: 5.625rem;
  margin-bottom: .9375rem;
}

.footer__title {
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1rem;
  margin-bottom: .5625rem;
}

.footer__text {
  line-height: 1.375rem;
  color: #727272;
}

.footer__newsletter-sub {
  max-width: 21.875rem;
  padding-top: 1.0625rem;
}

.footer__newsletter-sub h3 {
  margin-bottom: 1.125rem;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.4375rem 1.75rem;
  background-color: rgba(70, 163, 88, 0.1);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.footer__logo {
  margin-right: 5.4375rem;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5625rem;
  max-width: 13.4375rem;
  margin-right: 4.375rem;
}

.footer__contact:nth-child(3) {
  margin-right: 6.875rem;
}

.footer__menu-wrapper {
  padding: 1.875rem 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: calc(75px + (175 - 75) * ((100vw - 768px)/(1440 - 768)));
          column-gap: calc(75px + (175 - 75) * ((100vw - 768px)/(1440 - 768)));
  row-gap: 3.125rem;
}

.footer__menus {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list-link {
  text-decoration: none;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.875rem;
  color: #3D3D3D;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__list-link:hover {
  color: #46A358;
}

.footer__media {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__social h3 {
  margin-bottom: 1.25rem;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .625rem;
  margin-bottom: 2.0625rem;
}

.footer__icons img {
  width: 1rem;
  height: 1rem;
}

.footer__icon {
  width: 1.875rem;
  height: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(70, 163, 88, 0.2);
  border-radius: .25rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__icon:hover {
  cursor: pointer;
  background-color: #fff;
}

.footer__payments h3 {
  margin-bottom: .8125rem;
}

.footer__rights {
  padding: .4375rem 0rem;
  text-align: center;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.875rem;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.0625rem;
}

.contact__form input:first-child {
  padding: .75rem .6875rem;
  height: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.contact__form input:first-child::-webkit-input-placeholder {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1rem;
  color: #ACACAC;
}

.contact__form input:first-child:-ms-input-placeholder {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1rem;
  color: #ACACAC;
}

.contact__form input:first-child::-ms-input-placeholder {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1rem;
  color: #ACACAC;
}

.contact__form input:first-child::placeholder {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1rem;
  color: #ACACAC;
}

.contact__form input:last-child {
  background-color: #46A358;
  border: none;
  color: #fff;
  padding: 0rem 1.625rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border: 1px solid #46A358;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact__form input:last-child:hover {
  cursor: pointer;
  border: 1px solid #000;
}

@media (max-width: 1100px) {
  .footer__contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contacts img {
    margin: 0;
  }
  .footer__contact {
    margin: 0px;
    max-width: 100%;
  }
  .footer__contact:nth-child(3) {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .footer__post-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__post {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__post:not(:last-child) {
    border-right: none;
  }
  .footer__menus {
    gap: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 9.375rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social h3 {
    text-align: center;
  }
  .footer__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__payments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__payments h3 {
    text-align: center;
  }
}

@media (max-width: 330px) {
  .footer__contacts {
    padding-left: .625rem;
    padding-right: .625rem;
  }
}

.cart {
  padding-top: 2.25rem;
  color: #3D3D3D;
}

.cart__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.125rem;
  overflow: hidden;
}

.cart__navigation a {
  text-decoration: none;
  font-size: .9375rem;
  line-height: 1rem;
  color: #3D3D3D;
}

.cart__navigation a:first-child {
  font-weight: 700;
  color: #3D3D3D;
}

.cart__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.3125rem;
}

.cart__product-list {
  width: 48.875rem;
}

.cart__titles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 1fr 1fr 1fr;
      grid-template-columns: 2.5fr 1fr 1fr 1fr;
  padding-bottom: .6875rem;
  margin-bottom: .6875rem;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.cart__list-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
}

.cart__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 1fr 1fr 1fr;
      grid-template-columns: 2.5fr 1fr 1fr 1fr;
  -ms-grid-rows: 4.375rem;
      grid-template-rows: 4.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FBFBFB;
  height: 4.375rem;
  margin-bottom: .625rem;
}

.cart__item-gen-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.cart__item-gen-info img {
  height: 100%;
  margin-right: .875rem;
}

.cart__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 8rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
}

.cart__item-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1rem;
}

.cart__item-info p span {
  color: #A5A5A5;
}

.cart__item-price {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
}

.cart__item-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .6875rem;
}

.cart__item-decrease, .cart__item-increase {
  border: none;
  color: #fff;
  width: 1.375rem;
  height: 1.375rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#46A358), to(rgba(70, 163, 88, 0.8)));
  background: linear-gradient(180deg, #46A358 0%, rgba(70, 163, 88, 0.8) 100%);
  border-radius: 29px;
}

.cart__item-decrease:hover, .cart__item-increase:hover {
  cursor: pointer;
}

.cart__item-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  color: #46A358;
}

.cart__item-total img {
  margin-right: 1.25rem;
}

.cart__item-total img:hover {
  cursor: pointer;
}

.cart__totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5.4375rem;
}

.cart__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1rem;
  padding-bottom: .6875rem;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  margin-bottom: .6875rem;
}

.cart__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

.cart__form label {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1rem;
}

.cart__form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__totals-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1rem;
  margin-bottom: .9375rem;
}

.cart__totals-item span {
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1rem;
}

.cart__shipping-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  gap: .5rem;
}

.cart__shipping-value span {
  font-weight: 400;
  font-size: .75rem;
  line-height: 1rem;
  color: #46A358;
}

.cart__shipping-value span:hover {
  cursor: pointer;
}

.cart__discount {
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1rem;
}

.cart__price {
  color: #46A358;
}

.cart__price span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  color: #3D3D3D;
}

.cart__continue {
  display: block;
  width: 100%;
  text-align: center;
  padding: .875rem 0rem;
  text-decoration: none;
  color: #46A358;
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1rem;
}

.cart__close-btn {
  display: none;
}

.interested {
  color: #3D3D3D;
}

.interested__title {
  color: #46A358;
  font-size: 17px;
  font-weight: 700;
  line-height: 1rem;
  padding-bottom: .75rem;
  border-bottom: 0.3px solid #46A358;
  margin-bottom: 2.8125rem;
}

.interested__slider-wrapper {
  width: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.625rem;
  margin-bottom: 3.75rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.interested__slider-item {
  max-width: 13.6875rem;
  border-top: 2px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.interested__slider-item img {
  width: 100%;
  margin-bottom: .75rem;
}

.interested__slider-item h2 {
  font-size: .9375rem;
  line-height: 1rem;
  margin-bottom: .3125rem;
}

.interested__slider-item span {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #46A358;
}

.interested__slider-item:hover {
  cursor: pointer;
  border-color: #46A358;
}

.interested__slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .625rem;
  margin-bottom: 8rem;
}

.interested__sliderdot {
  display: block;
  width: 15px;
  height: 15px;
  border: 3px solid #46A358;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.interested__sliderdot:hover {
  cursor: pointer;
  background-color: #46A358;
}

.interested__sliderdot.active {
  background-color: #46A358;
}

@media (max-width: 1200px) {
  .cart__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 769px) {
  .cart__titles {
    display: none;
  }
  .cart__item {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (4.375rem)[2];
        grid-template-rows: repeat(2, 4.375rem);
    height: auto;
    border-radius: 1.25rem;
    position: relative;
  }
  .cart__item-quantity {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .cart__item-price {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .cart__item-total {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .cart__item-total img {
    display: none;
  }
  .cart__close-btn {
    position: absolute;
    height: 20px;
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border-radius: 10px;
  }
  .cart__close-btn span {
    width: 10px;
    height: 2px;
    background-color: #46A358;
  }
  .cart__close-btn span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
  }
  .cart__close-btn span:last-child {
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
/*# sourceMappingURL=App.css.map */