@import './style-services/normalize.min.css';
@import './style-services/reset.css';

@import './style-services/fonts.css';

@import './style-services/variables';
@import './style-services/text-styles';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'CeraPro';
    overflow-x: hidden;
}

.container {
    max-width: 77.5625rem;
    padding: 0 .9375rem;
    margin: 0 auto;
}

@import '../components/ServiceElements/serviceElem';
@import '../components/Header/header';
@import '../components/Main/main';
@import '../components/Footer/footer';
@import '../components/ShoppingCart/shopingCart';