.blog {
    color: $text-dark;
    padding-bottom: 6.25rem;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 1rem;
        margin-bottom: .9375rem;
    }

    &__subtitle {
        font-weight: 400;
        font-size: .875rem;
        line-height: 1.5rem;
        color: $text-grey;
        margin-bottom: 2.1875rem;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.75rem;
    }

    &__post {
        width: 16.75rem;
        position: relative;
        padding: 12.6875rem .9375rem .9375rem .9375rem;
        background-color: $grey;

        & > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    &__post-date {
        font-weight: 500;
        font-size: .875rem;
        line-height: 1rem;
        color: #46A358;
        margin-bottom: .25rem;
    }

    &__post-title {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.625rem;
        max-width: 12.8125rem;
        margin-bottom: .25rem;
    }

    &__post-text {
        font-weight: 400;
        font-size: .875rem;
        line-height: 1.375rem;
        color: $text-grey;
        margin-bottom: .5625rem;
    }

    &__post-read {
        display: flex;
        align-items: center;
        gap: .1875rem;
        text-decoration: none;
        color: $text-dark;
        padding: 0;
        font-weight: 500;
        font-size: .875rem;
        line-height: 1rem;
        transition: all 0.3s ease;

        svg {
            margin-top: 2px;

            path {
                transition: all 0.3s ease;
            }
        }

        &:hover {
            cursor: pointer;
            color: $green;

            svg {
                path {
                    fill: $green;
                }
            }
        }
    }
}
