.cart {
    padding-top: 2.25rem;
    color: $text-dark;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 3.125rem;
        overflow: hidden;
    }

    &__navigation {
        a {
            text-decoration: none;
            font-size: .9375rem;
            line-height: 1rem;
            color: $text-dark;

            &:first-child {
                font-weight: 700;
                color: $text-dark;
            }
        }
    }

    &__content {
        display: flex;
        gap: 5.3125rem;
    }

    &__product-list {
        width: 48.875rem;
    }

    &__titles {
        display: grid;
        grid-template-columns: 2.5fr 1fr 1fr 1fr;
        padding-bottom: .6875rem;
        margin-bottom: .6875rem;
        border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    }

    &__list-title {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1rem;
    }

    &__item {
        display: grid;
        grid-template-columns: 2.5fr 1fr 1fr 1fr;
        grid-template-rows: 4.375rem;
        align-items: center;
        background-color: $grey;
        height: 4.375rem;
        margin-bottom: .625rem;
    }
    
    &__item-gen-info {
        display: flex;
        align-items: center;
        height: 100%;

        img {
            height: 100%;
            margin-right: .875rem;
        }
    }

    &__item-info {
        display: flex;
        flex-direction: column;
        max-width: 8rem;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1rem;

        p {
            display: flex;
            font-weight: 400;
            font-size: .875rem;
            line-height: 1rem;

            span {
                color: #A5A5A5;
            }
        }
    }

    &__item-price {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1rem;
    }

    &__item-quantity {
        display: flex;
        align-items: center;
        gap: .6875rem;
    }

    &__item-decrease, &__item-increase {
        border: none;
        color: #fff;
        width: 1.375rem;
        height: 1.375rem;
        background: linear-gradient(180deg, #46A358 0%, rgba(70, 163, 88, 0.8) 100%);
        border-radius: 29px;

        &:hover {
            cursor: pointer;
        }
    }

    &__item-total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1rem;
        color: $green;

        img {
            margin-right: 1.25rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__totals {
        display: flex;
        flex-direction: column;
        margin-bottom: 5.4375rem;
    }

    &__title {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1rem;
        padding-bottom: .6875rem;
        border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
        margin-bottom: .6875rem;
    }

    &__form {
        flex-direction: column;
        gap: .5rem;

        label {
            font-weight: 400;
            font-size: .875rem;
            line-height: 1rem;
        }

        div {
            display: flex;
        }
    }

    &__totals-item {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1rem;
        margin-bottom: .9375rem;

        span {
            font-weight: 400;
            font-size: .9375rem;
            line-height: 1rem;
        }
    }

    &__shipping-value {
        display: flex;
        flex-direction: column;
        text-align: right;
        gap: .5rem;

        span {
            font-weight: 400;
            font-size: .75rem;
            line-height: 1rem;
            color: $green;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__discount {
        font-weight: 400;
        font-size: .9375rem;
        line-height: 1rem;
    }

    &__price {
        color: $green;
        span {
            font-weight: 700;
            font-size: 1rem;
            line-height: 1rem;
            color: $text-dark;
        }
    }

    &__continue {
        display: block;
        width: 100%;
        text-align: center;
        padding: .875rem 0rem;
        text-decoration: none;
        color: $green;
        font-weight: 400;
        font-size: .9375rem;
        line-height: 1rem;
    }

    &__close-btn {
        display: none;
    }
}

.interested {
    color: $text-dark;

    &__title {
        color: $green;
        font-size: 17px;
        font-weight: 700;
        line-height: 1rem;
        padding-bottom: .75rem;
        border-bottom: 0.3px solid $green;
        margin-bottom: 2.8125rem;
    }

    &__slider-wrapper {
        width: 200%;
        display: flex;
        gap: 1.625rem;
        margin-bottom: 3.75rem;
        transition: all 0.3s ease;
    }

    &__slider-item {
        max-width: 13.6875rem;
        border-top: 2px solid #fff;
        transition: all 0.3s ease;

        img {
            width: 100%;
            margin-bottom: .75rem;
        }

        h2 {
            font-size: .9375rem;
            line-height: 1rem;
            margin-bottom: .3125rem;
        }

        span {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            color: $green;
        }

        &:hover {
            cursor: pointer;
            border-color: $green;
        }
    }

    &__slider-dots {
        display: flex;
        justify-content: center;
        gap: .625rem;
        margin-bottom: 8rem;
    }

    &__sliderdot {
        display: block;
        width: 15px;
        height: 15px;
        border: 3px solid $green;
        border-radius: 50%;
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: $green;
        }

        &.active {
            background-color: $green;
        }
    }
}

@media(max-width:1200px) {
    .cart {
        &__content {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .interested {
        &__slider-item {
            width: calc(75px + (200 - 75) * ((100vw - 320px)/(1200 - 320)));
        }
    }
}

@media(max-width:1024px) {
    .interested {
        &__slider-wrapper {
            width: 250%;
        }
    }
}

@media(max-width:900px) {
    .interested {
        &__slider-wrapper {
            width: 280%;
        }
    }
}

@media(max-width:800px) {
    .interested {
        &__slider-wrapper {
            width: 300%;
        }
    }
}

@media(max-width:769px) {
    .cart {
        &__titles {
            display: none;
        }

        &__item {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 4.375rem);
            height: auto;
            border-radius: 1.25rem;
            position: relative;
        }

        &__item-quantity {
            justify-self: end;
        }

        &__item-price {
            justify-self: center;
        }

        &__item-total {
            justify-self: center;

            img {
                display: none;
            }
        }

        &__close-btn {
            position: absolute;
            height: 20px;
            width: 20px;
            display: flex;
            top: 0;
            right: 0;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-radius: 10px;

            span {
                width: 10px;
                height: 2px;
                background-color: $green;

                &:first-child {
                    transform: rotate(-45deg);
                    position: absolute;
                }

                &:last-child {
                    position: absolute;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .interested {
        &__slider-wrapper {
            width: 320%;
        }
    }
}

@media(max-width:600px) {
    .interested {
        &__slider-wrapper {
            width: 420%;
        }
    }
}

@media(max-width:500px) {
    .interested {
        &__slider-wrapper {
            width: 460%;
        }
    }
}

@media(max-width:426px) {
    .interested {
        &__slider-wrapper {
            width: 550%;
        }
    }
}

@media(max-width:376px) {
    .interested {
        &__slider-wrapper {
            width: 600%;
        }
    }
}

@media(max-width:320px) {
    .interested {
        &__slider-wrapper {
            width: 700%;
        }
    }
}